@page "/"

<Iterations Items="Numbers">
    <Condition Evaluation="@(context % 2 is 0)">
        <Match>
            <p>
                @context is even
            </p>
        </Match>
        <NotMatch>
            <p>
                @context is odd
            </p>
        </NotMatch>
    </Condition>
</Iterations>
